/* ----Variables ---- */
:root{
    --background-color-one: #90CAD9;
    --background-color-two: #000020;
}


/*Navbar Style*/

.navbar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 9999;
    justify-content: space-between;
    background: var(--background-color-one);
    border-bottom: 2px solid var(--background-color-two);
}

.logo{
    height: 4rem;
    display: flex;
    margin: 0.5rem 1.5rem;
}

.nav_link{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.link{
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-family: Arial,sans-serif;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

@media only screen and (max-width: 420px) {
    .navbar{
        justify-content: center;
    }
}


/*Jumbotron Style*/
.jumbotron{
    height: 35rem;
    top: 5rem;
    width: 100%;
    background-color: var(--background-color-two);
    display: flex;
    justify-content: center;
    padding-bottom: 0.2rem;
    overflow:hidden;
}

.jumbotron_flag{
    display: flex;
    justify-content: center;
    animation: flag;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transition-property: transform;
}

@keyframes flag{
    0% {
        right: -3000px;
    }
    100% {
        right: 0;
    }
}

.jumbotron_flag div{
    height: 100%;
    width: 7rem;
    margin: 0 0.1rem;
    background-color: yellow;
    transform: skewX(-20deg);
}

.jumbotron_flag div:nth-child(1){
    background-color: var(--background-color-one);
}

.jumbotron_flag div:nth-child(2){
    background-color: white;
}

.jumbotron_flag div:nth-child(3){
    background-color: var(--background-color-one);
}

.jumbotron_text{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    z-index: 3;
    left: 25rem;
    top: 15rem;
    animation: text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text{
    0% {
        left: -1000px
    }
    100% {
        left: 25rem
    }
}

.jumbotron_text div:nth-child(1){
    font-weight: 500;
    font-size: 8rem;
    line-height: 0.8;
}

.jumbotron_text div span{
    display: inline;
    background: var(--background-color-two);
    font-weight: 700;
    font-size: 3rem;
    padding: 0 0.5rem;
}

.jumbotron_text div:nth-child(3){
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    background: var(--background-color-two);
    padding: 0 0.5rem;
}

.jumbotron_image{
    position: relative;
    height: 15rem;
    left: -13rem;
    margin-right: 6.5rem;
    top: 11rem;
    animation: image;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes image{
    0% {
        top: -1000px
    }

    100% {
        right: 0
    }
}

@media only screen and (max-width: 600px) {

    .jumbotron_flag div{
        width: 5rem;
    }

    .jumbotron_text{
        left: 17rem;
    }

    @keyframes text{
        0% {
            left: -1000px;
        }
        100% {
            left: 17rem;
        }
    }

    .jumbotron_text div:nth-child(1){
        font-weight: 500;
        font-size: 5rem;
    }

    .jumbotron_text div span{
        font-weight: 700;
        font-size: 2rem;
    }

    .jumbotron_text div:nth-child(3){
        font-weight: 700;
        font-size: 2rem;
    }

    .jumbotron_image{
        height: 12rem;
        left: -10rem;
        margin-right: 2.5rem;
    }
}


/*Matches style*/
.matches{
    background-color: var(--background-color-one);
    display: flex;
    justify-content: center;
}

.container{
    width: 72%;
}

.matches_header{
    margin: 3rem 0 5rem 0;
}

.matches_header span{
    background-color: var(--background-color-two);
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.all_matches{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
}

.match{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.match_team{
    display: flex;
}

.match_date{
    font-size: 0.75rem;
    color: white;
}

.match_team div{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 15rem;
    background-color: white;
    margin: 0.1rem;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.match_team div div{
    box-shadow: 0 0 0 0;
}

.match_team span{
    display: flex;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--background-color-two);
    margin: 0.1rem;
    color: white;
    width: 2.5rem;
}

.match_team div img{
    height: 2rem;
    padding: 0.25rem 0.5rem;
}

.matches_btn{
    margin-bottom: 3rem;
    padding: 0.5rem;
    font-family:'Righteous', cursive;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

button:active {
    opacity: 0.8;
    box-shadow: 0 2px #666;
}

@media only screen and (max-width: 900px){
    .container{
        width: 95%;
    }
}

@media only screen and (max-width: 560px){
    .container{
        width: 90%;
    }
}


/*Team Style*/
.team{
    background-image: url("./images/stripes.png");
    width: 100%;
    display: flex;
    justify-content: center;
}

.team_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.players{
    display: flex;
}

.player{
    width: 15rem;
    height: 21.75rem;
    background: white;
    border: 0.5rem solid white;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.player img{
    background: rgba(144, 202, 217,0.2);
    width: 15rem;
}

.player:nth-child(1){
    top: 4.5rem;
    z-index: 4;
    position: relative;
    left: 12rem;
    margin-left: -12rem;
    margin-bottom: 10rem;
}

.player:nth-child(2){
    top: 3rem;
    z-index: 3;
    position: relative;
    left: 12rem;
    margin-left: -12rem;
}

.player:nth-child(3){
    top: 1.5rem;
    z-index: 2;
    position: relative;
    left: 12rem;
    margin-left: -12rem;
}

.player_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
}

.player_name{
    width: 5rem;
    font-size: 1.75rem;
    font-weight: 700;
    z-index: 2;
}

.player_jersey_no{
    font-size: 7rem;
    line-height: 1.0;
    color: rgba(144, 202, 217,0.4);
    margin-top: 0.5rem;
}

.players_header{
    font-size: 5.5rem;
    font-weight: 500;
    color: white;
}

.players_header div span{
    background: var(--background-color-two);
    padding: 0 0.5rem;
}

.players_header div:nth-child(2){
    margin: 1.1rem 0;
}

.players_btn{
    margin: 1rem 0 3rem 0;
    padding: 0.25rem;
    background-color: white;
    font-family:'Righteous', cursive;
    border: 2px solid var(--background-color-two);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    font-size: 1rem;
    font-weight: 700;
}

@media only screen and (max-width: 480px){
    .player:nth-child(2){
        display: none;
    }

    .player:nth-child(1){
        display: none;
    }

    .players_header{
        margin-top: 3rem;
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 360px){
    .player:nth-child(3){
        display: none;
    }
}


/*Extra Style*/
.extra{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.extra_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0 2rem 0;
}

.extra_header{
    width: 22rem;
    color: rgba(144, 202, 217,0.4);
    font-size: 6rem;
    line-height: 0.9;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.jersey_img{
    height: 20rem;
}

.extra_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.extra_form div:nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.extra_form input{
    width: 21rem;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.5;
    border: 2px solid black;
    text-align: center;
    padding: 0.25rem 0;
    outline: none;
    margin-bottom: 1rem;
}

.enroll_btn{
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    font-family:'Righteous', cursive;
    background-color: var(--background-color-two);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.extra_form_text{
    width: 20rem;
    text-align: center;
}

/*Footer Style*/
.footer{
    width: 100%;
    background: var(--background-color-two);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img{
    margin-top: 1rem;
}

.footer div{
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}


/*TheTeam Style*/
.the_team{
    padding: 5rem 0;
    width: 100%;
    background-color: rgba(144, 202, 217,0.1);
}

.the_team_header{
    color: rgba(144, 202, 217,0.4);
    font-size: 5rem;
    line-height: 0.9;
    padding: 3rem 0 1rem 2rem;
    text-transform: capitalize;
}

.the_team_players{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.the_team_player{
    width: 15rem;
    height: 21.75rem;
    background: white;
    border: 0.5rem solid white;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.the_team_player img{
    background: rgba(144, 202, 217,0.2);
    width: 15rem;
}
